<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kiylx.ti">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activitys.StartPageActivity"
            android:label="@string/title_activity_start_page"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activitys.DownloadActivity" />

        <service android:name=".downloadCore.DownloadServices" />

        <activity android:name=".activitys.BookmarkPageActivity" />
        <activity
            android:name=".activitys.HistoryActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".activitys.SettingActivity" />
        <activity
            android:name=".activitys.DoSearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>