<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kiylx.ti">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".xapplication.Xapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <service android:name=".downloadpack.downloadcore.DownloadServices" />

        <activity android:name=".ui.base.BaseWebviewActivity" />
        <activity android:name=".ui.base.BaseRecy_search_ViewActivity"
            android:theme="@style/HasActionmodeThemes"/>
        <activity
            android:name=".ui.activitys.MainActivity"
            android:theme="@style/MaterialThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.ContentToUrlActivity" />

        <activity
            android:name=".ui.activitys.HistorysActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/HistorysThemes" />
        <activity
            android:name=".ui.activitys.Setting2Activity"
            android:label="设置"
            android:theme="@style/settingFragment" />
        <activity
            android:name=".ui.activitys.StartPageActivity"
            android:label="@string/title_activity_start_page"
            android:theme="@style/MaterialThemes" />
        <activity
            android:name=".downloadpack.DownloadActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemes" />
        <activity
            android:name=".trash.BookmarkPageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemes" />
        <activity android:name=".trash.DoSearchActivity" />


        <activity android:name=".ui.activitys.EditBookmarkActivity" android:theme="@style/MaterialThemes"/>
        <activity android:name=".ui.activitys.BookmarkManagerActivity" android:theme="@style/HasActionmodeThemes" />
        <activity android:name=".ui.activitys.BookmarkFolderActivity" android:theme="@style/MaterialThemes"/>
        <activity android:name=".ui.activitys.ExtentActivity" android:theme="@style/MaterialThemes" />
    </application>

</manifest>